<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>

/* accepts parameters
 * h  Object = {h:x, s:y, v:z}
 * OR 
 * h, s, v
*/

function HSVtoRGB(h, s, v) {
    var r, g, b, i, f, p, q, t;
    if (arguments.length === 1) {
        s = h.s, v = h.v, h = h.h;
    }
    i = Math.floor(h * 6);
    f = h * 6 - i;
    p = v * (1 - s);
    q = v * (1 - f * s);
    t = v * (1 - (1 - f) * s);
    switch (i % 6) {
        case 0: r = v, g = t, b = p; break;
        case 1: r = q, g = v, b = p; break;
        case 2: r = p, g = v, b = t; break;
        case 3: r = p, g = q, b = v; break;
        case 4: r = t, g = p, b = v; break;
        case 5: r = v, g = p, b = q; break;
    }
    rgb = "rgb(";
    R = Math.round(r * 255);
    G = Math.round(g * 255);
    B = Math.round(b * 255);

    var result = rgb + R + ", " + G + ", " + B + ")"
    return {
        result
    };
}

color1 = HSVtoRGB(Math.random(), 0.5, 1).result;
color2 = HSVtoRGB(Math.random(), 0.5, 1).result;
color3 = HSVtoRGB(Math.random(), 0.5, 1).result;
color4 = HSVtoRGB(Math.random(), 0.5, 1).result;
color5 = HSVtoRGB(Math.random(), 0.5, 1).result;
color6 = HSVtoRGB(Math.random(), 0.5, 1).result;

posts = document.querySelectorAll("a.link_to_post");
console.log(posts)
for (var i = 0; i < posts.length; i++) {
    posts[i].style.backgroundColor = HSVtoRGB(Math.random(), 0.5, 1).result;
}

document.getElementById("link1").style.backgroundColor = color1;
document.getElementById("link2").style.backgroundColor = color2;
document.getElementById("link3").style.backgroundColor = color3;
document.getElementById("link4").style.backgroundColor = color4;
document.getElementById("link5").style.backgroundColor = color5;
document.getElementById("link6").style.backgroundColor = color6;



</script>