<footer>
    <div class="container">
        <a href="https://www.linkedin.com/in/taehyoungjo/">
            <img src="{{ site.baseurl }}/assets/img/icons8-linkedin.svg" class="img-fluid">
        </a>
        <a href="https://github.com/taehyoungjo">
            <img src="{{ site.baseurl }}/assets/img/icons8-github.svg" class="img-fluid">
        </a>
        <a href="mailto:taehyoung.jo@yale.edu">
            <img src="{{ site.baseurl }}/assets/img/icons8-gmail.svg" class="img-fluid">
        </a>
    </div>
</footer>