<footer style="text-align:center;">
    <div class="border-top container pt-3 pb-5">
        <a class="mx-2" href="https://www.linkedin.com/in/taehyoungjo/">
            <img src="{{ site.baseurl }}/assets/img/icons8-linkedin.svg" class="img-fluid">
        </a>
        <a class="mx-2" href="https://github.com/taehyoungjo">
            <img src="{{ site.baseurl }}/assets/img/icons8-github.svg" class="img-fluid">
        </a>
        <a class="mx-2" href="mailto:taehyoung.jo@yale.edu">
            <img src="{{ site.baseurl }}/assets/img/icons8-gmail.svg" class="img-fluid">
        </a>
    </div>
</footer>