/* bug fix: navbar immediately closing */
.navbar-collapse.collapse.in {
    display: inline-block;
}

p, strong, button, a {
    font-family: 'Montserrat'
}

h1, h3, h3 a {
    font-family: 'Merriweather';
}

ul {
    list-style-type: circle;
}

#jumbo {
    color: white;
    background-color: rgb(64,64,64);
    transition: all 0.3s ease 0s;
}

#jumbo:hover {
    background-color: black;  
}

.card {
    transition: all 0.3s ease 0s;
}

.card:hover {
    text-decoration: none;
    -webkit-transform: scale(1.02);
    -ms-tranform: scale(1.02);
    transform: scale(1.02);
}

a:hover {
    text-decoration: none;
}

h3 a {
    transition: all 0.3s ease 0s;
    color: black;
}

h3 a:hover {
    color: black;
}

/* sm-link_padding-bottom */ 


h3 a {	
	display: inline-flex;
	position: relative;
    overflow: hidden;
    
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);	
	
	padding-bottom: var(--uismLinkLineWeight);	
    position: relative;
    
    --smLinkLineWeight: 2px;
}

h3 a::after{
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
}

h3 a::after{
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
}

h3 a:hover::after{
  transform: translate3d(0, 0, 0);
}

.footer-icon {
    transition: all 0.3s ease 0s;
}

.footer-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-tranform: scale(1.2);
    transform: scale(1.2);
}