<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="d-flex flex-column h-100" style="padding-top: 70px;">
        {% include header.html %}

        <main role="main" class="flex-shrink-0 mb-5">
            <div class="container">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}

    </body>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>