---
layout: "default"
---

<strong class="mb-2 text-primary">Developer</strong>
<h1>What I'm Building</h1>

{{ content }}

<br>
<div class="card border-primary mb-3" style="max-height: 18rem;">
    <div class="card-header">Villager</div>
    <div class="card-body text-primary">
      <h5 class="card-title">A better way to keep cities safe</h5>
      <!-- <p class="card-text"></p> -->
    </div>
</div>
<br>
<div class="card border-primary mb-3" style="max-height: 18rem;">
    <div class="card-header">FlickerFilter</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Enabling an inclusive YouTube</h5>
      <!-- <p class="card-text"></p> -->
    </div>
</div>
<br>
<div class="card border-primary mb-3" style="max-height: 18rem;">
    <div class="card-header">CReddit</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Preventing fraud on Reddit</h5>
      <!-- <p class="card-text"></p> -->
    </div>
</div>