---
layout: "default"
---

<strong class="mb-2 text-primary">Developer</strong>
<h1>What I'm Building</h1>

{{ content }}

<br />
<div class="card mb-3" style="max-height: 18rem;">
  <div class="card-header"><strong>Codex</strong></div>
  <div class="card-body">
    <p class="card-text">Internet learning...</p>
  </div>
</div>
<div class="card mb-3" style="max-height: 18rem;">
  <div class="card-header"><strong>Villager</strong></div>
  <div class="card-body">
    <p class="card-text">A better way to keep cities safe</p>
    <a
      href="https://devpost.com/software/villager-49dkvf"
      class="mt-3 btn btn-outline-success"
      role="button"
      >Devpost</a
    >
    <a
      href="https://github.com/kevinhu/villager"
      class="mt-3 btn btn-outline-success"
      role="button"
      >Github</a
    >
  </div>
</div>
<br />
<div class="card mb-3" style="max-height: 18rem;">
  <div class="card-header"><strong>FlickerFilter</strong></div>
  <div class="card-body">
    <p class="card-text">Enabling an inclusive YouTube</p>
    <a
      href="https://github.com/taehyoungjo/flickerfilter"
      class="mt-3 btn btn-outline-success"
      role="button"
      >Github</a
    >
  </div>
</div>
<br />
<div class="card mb-3" style="max-height: 18rem;">
  <div class="card-header"><strong>CReddit</strong></div>
  <div class="card-body">
    <p class="card-text">Preventing fraud on Reddit</p>
    <a
      href="https://devpost.com/software/creddit"
      class="mt-3 btn btn-outline-success"
      role="button"
      >Devpost</a
    >
    <a
      href="https://github.com/kevinhu/creddit"
      class="mt-3 btn btn-outline-success"
      role="button"
      >Github</a
    >
  </div>
</div>
