<!--
<img src="{{ site.baseurl }}/assets/img/IMG_8003.JPG" class="img-fluid">
-->

<!DOCTYPE html>
<html>

    {% include head.html %}

    <body style="height:100vh; width:100vw; display:table">

        <main role="main" style="vertical-align: middle; display: table-cell;">
            <div class="container px-5 pb-5">
                
                <h3 class="mt-5">Hi!</h3>
                <h3>I'm Tae Hyoung Jo</h3>
                <h3>I am a</h3>
                <h3><a id="link1" href="{{ site.baseurl }}/student">Student</a></h3>
                <h3><a id="link2" href="{{ site.baseurl }}/notes">Writer</a></h3>
                <h3><a id="link3" href="{{ site.baseurl }}/reading">Reader</a></h3>
                <h3><a id="link4" href="{{ site.baseurl }}/developer">Developer</a></h3>
                <h3><a id="link5" href="{{ site.baseurl }}/investor">Investor</a></h3>
                <h3>This website is my take on radical transparency</h3>
                <h3>Learn more about me and my philosophy <span><a id="link6" href="{{ site.baseurl }}/about">here</a></span></h3>

            </div>
        </main>

    </body>

    {% include bottom_scripts.html %}

</html>