---
layout: "default"
---

<strong class="mb-2 text-primary">Notes</strong>
<h1>What I'm Thinking</h1>

<!--
{% for post in site.posts %}
{% if post.title == page.featured %}
    <a class="card pb-0 mb-4" href="{{ site.baseurl }}{{ post.url }}">
    <div id="jumbo" class="jumbotron p-4 p-md-5 mb-0 rounded">
        <div class="col-md-6 px-0">
            <strong class="d-inline-block mb-2">Featured Post</strong>
            <h1 class="display-4 font-italic">{{ post.title }}</h1>
            <div class="mb-3">{{ post.date | date_to_string }}</div>
            {{ post.excerpt }}
        </div>
    </div>
    </a>
{% endif %}
{% endfor %}
-->


<!--
<div class="row">
    <div class="col-md-12">
        
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            Notes
        </h3>
        

        
        <ul class="post-list">
                {% for post in site.posts %}
                    <li>
                        <span>{{ post.date | date_to_string }}</span>
                        <h3>
                            <a class="link_to_post" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </h3>
                    </li>
                {% endfor %}
            </ul>
    
        </div>
    </div>
-->


<div class="row">
    <div class="col-md-12">
            {% for post in site.posts %}
                
                    <dt><span>{{ post.date | date_to_string }}</span></dt>
                    <dd>
                        <h3>
                            <a class="link_to_post" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </h3>
                    </dd>
                
            {% endfor %}

    </div>
</div>

{% for collection in site.notes_collections %}
<a href="{{ site.baseurl }}/notes/{{ collection.title }}" class="mt-3 btn btn-outline-success" role="button">{{ collection.title | replace: "-", " " }}</a>
{% endfor %}

<!--
<div class="row mb-2">
    {% for collection in site.notes_collections %}
        <div class="col-md-6">
            <a class="card featured mb-4 shadow-sm" style="color: black;" href="{{ site.baseurl }}/notes/{{ collection.title }}">
            <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Collection</strong>
                    <h3 class="mb-3">{{ collection.title | replace: "-", " " }}</h3>
                    {{ collection.excerpt }}
                </div>
            </div>
            </a>
        </div>
    {% endfor %}

</div>
-->

