---
layout: "default"
---
<!--
{% for post in site.posts %}
    <li><a style="{% if page.url == post.url %}color:red;{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
-->


<h1>{{ page.title }}</h1>
<h3>{{ page.date | date_to_string }}</h3>

{% for cat in page.categories %}
<a href="{{ site.baseurl }}/notes/{{ cat }}" class="mt-3 btn btn-outline-success" role="button">{{ cat | replace: "_", " "}}</a>
{% endfor %}

{% for tag in page.tags %}
<button type="button" class="mt-3 btn btn-outline-primary">{{ tag | replace: "_", " "}}</button>
{% endfor %}

<hr>

{{ content }}