---
layout: "default"
---

<strong class="mb-2 text-primary">Student</strong>
<h1>What I'm Learning</h1>

<button type="button" class="mt-3 btn btn-outline-dark">Fall, 2019:</button>
<button type="button" class="mt-3 btn btn-outline-primary">CHNS 150: Advanced Modern Chinese I</button>
<button type="button" class="mt-3 btn btn-outline-success">CPSC 223: Data Structures and Programming Techniques</button>
<button type="button" class="mt-3 btn btn-outline-success">CPSC 475: Computational Vision and Biological Perception</button>
<button type="button" class="mt-3 btn btn-outline-danger">MATH 230: Vector Calculus and Linear Algebra I</button>
<button type="button" class="mt-3 btn btn-outline-danger">S&DS 241: Probability Theory</button>

<button type="button" class="mt-3 btn btn-outline-dark">Spring, 2019:</button>
<button type="button" class="mt-3 btn btn-outline-primary">CHNS 120: Elementary Modern Chinese II</button>
<button type="button" class="mt-3 btn btn-outline-success">CPSC 201: Introduction to Computer Science</button>
<button type="button" class="mt-3 btn btn-outline-primary">ECON 159: Game Theory</button>
<button type="button" class="mt-3 btn btn-outline-primary">ENGL 114: Writing the Asian Diaspora</button>
<button type="button" class="mt-3 btn btn-outline-primary">PHIL 175: Introduction to Ethics</button>

<button type="button" class="mt-3 btn btn-outline-dark">Fall, 2018:</button>
<button type="button" class="mt-3 btn btn-outline-primary">CHNS 110: Elementary Modern Chinese I</button>
<button type="button" class="mt-3 btn btn-outline-danger">CPSC 100: Introduction to Computing and Programming</button>
<button type="button" class="mt-3 btn btn-outline-primary">CPSC 183: Law, Technology, and Culture</button>
<button type="button" class="mt-3 btn btn-outline-primary">ECON 121: Intermediate Microeconomics</button>

{{ content }}