---
layout: "default"
---

<strong class="mb-2 text-primary">Student</strong>
<h1>What I'm Learning</h1>

<strong class="mb-2 text-primary">@Yale</strong>

<br>

<button type="button" class="mt-3 btn btn-outline-primary" >Fall, 2019:</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 150</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 223</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 475</button>
<button type="button" class="mt-3 btn btn-outline-dark">MATH 230</button>
<button type="button" class="mt-3 btn btn-outline-dark">S&DS 241</button>

<button type="button" class="mt-3 btn btn-outline-primary">Spring, 2019:</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 120</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 201</button>
<button type="button" class="mt-3 btn btn-outline-dark">ECON 159</button>
<button type="button" class="mt-3 btn btn-outline-dark">ENGL 114</button>
<button type="button" class="mt-3 btn btn-outline-dark">PHIL 175</button>

<button type="button" class="mt-3 btn btn-outline-primary">Fall, 2018:</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 110</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 100</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 183</button>
<button type="button" class="mt-3 btn btn-outline-dark">ECON 121</button>

<br><br>

<strong class="mb-2 text-danger">@Self</strong>
<br>
<button type="button" class="mt-3 btn btn-outline-dark" >The Feynman Lectures on Physics</button>
<button type="button" class="mt-3 btn btn-outline-dark" >Hands on ML with SKL</button>
<button type="button" class="mt-3 btn btn-outline-dark" >McKinsey Valuation</button>
<br><br>

<strong class="mb-2 text-success">Learning Log</strong>
<br>
<a href="{{ site.baseurl }}/notes/Learning-Log" class="mt-3 btn btn-outline-success" role="button">Go to Log</a>

{{ content }}