---
layout: "default"
---

<strong class="mb-2 text-primary">Student</strong>
<h1>What I'm Learning</h1>

<strong class="mb-2 text-primary">@Yale</strong>

<br />

<!-- <button type="button" class="mt-3 btn btn-outline-primary">
  Spring, 2020
</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 151</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 323</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 338</button>
<button type="button" class="mt-3 btn btn-outline-dark">S&DS 242</button>

<button type="button" class="mt-3 btn btn-outline-primary">Fall, 2019:</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 150</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 223</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 475</button>
<button type="button" class="mt-3 btn btn-outline-dark">MATH 230</button>
<button type="button" class="mt-3 btn btn-outline-dark">S&DS 241</button>

<button type="button" class="mt-3 btn btn-outline-primary">
  Spring, 2019
</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 120</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 201</button>
<button type="button" class="mt-3 btn btn-outline-dark">ECON 159</button>
<button type="button" class="mt-3 btn btn-outline-dark">ENGL 114</button>
<button type="button" class="mt-3 btn btn-outline-dark">PHIL 175</button>

<button type="button" class="mt-3 btn btn-outline-primary">Fall, 2018</button>
<button type="button" class="mt-3 btn btn-outline-dark">CHNS 110</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 100</button>
<button type="button" class="mt-3 btn btn-outline-dark">CPSC 183</button>
<button type="button" class="mt-3 btn btn-outline-dark">ECON 121</button> -->

<button type="button" class="mt-3 btn btn-outline-primary">
  Fall, 2020
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Neural Networks and Learning Systems
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  The Rise of China
</button>
<button type="button" class="mt-3 btn btn-outline-dark">Discrete Mathematics</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Global Economy
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Grand Narratives and Global History
</button>

<button type="button" class="mt-3 btn btn-outline-primary">
  Spring, 2020
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Advanced Modern Chinese II
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Systems Programming and Computer Organization
</button>
<button type="button" class="mt-3 btn btn-outline-dark">Digital Systems</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Theory of Statistics
</button>

<button type="button" class="mt-3 btn btn-outline-primary">Fall, 2019</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Advanced Modern Chinese I
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Data Structures and Programming Techniques
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Computational Vision and Biological Perception
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Vector Calculus and Linear Algebra
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Probability Theory
</button>

<button type="button" class="mt-3 btn btn-outline-primary">
  Spring, 2019
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Elementary Modern Chinese II
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Introduction to Computer Science
</button>
<button type="button" class="mt-3 btn btn-outline-dark">Game Theory</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Writing the Asian Diaspora
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Introduction to Ethics
</button>

<button type="button" class="mt-3 btn btn-outline-primary">Fall, 2018</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Elementary Modern Chinese I
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Introduction to Computing and Programming
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Law, Technology, and Culture
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Intermediate Microeconomics
</button>

<br /><br />

<strong class="mb-2 text-danger">@Self</strong>
<br />
<button type="button" class="mt-3 btn btn-outline-dark">
  Refactoring UI
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  The Feynman Lectures on Physics
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  Hands on ML with SKL
</button>
<button type="button" class="mt-3 btn btn-outline-dark">
  McKinsey Valuation
</button>
<br /><br />

<strong class="mb-2 text-success">Learning Log</strong>
<br />
<a
  href="{{ site.baseurl }}/notes/Learning-Log"
  class="mt-3 btn btn-outline-success"
  role="button"
  >Go to Log</a
>

{{ content }}
